.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
   }
   /* color:#e3af00 */

   @media (max-width: 530px) {
    .container{
        justify-content: center;
    }
}