.mainBlock{
    height: 100vh;
    background: #4d9769;
}

.intro{
    border: 1px solid;
    background: #cce1d4;
}

.photo{
    border: 1px solid red;
    width: 300px;
    height: 400px;
    background: #e1dccc;
}

@media (max-width: 760px) {
    .photo{
        width: 220px;
    }
    .intro{
        width: 200px;
    }
}

@media (max-width: 530px) {
    .photo{
        width: 90%;
        height: 300px;
    }
    .intro{
        width: 90%;
    }
}