.footerBlock{
    background: #deb9b5;
    height: 35vh;
}

.footerContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
}
.title{
    background: #58b7d1;
}
.footer{
    border: 1px solid;
    background: #515f63;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}